
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{
	font-size: 5px;
	height: 100%;
}

.navibar{
	color: #64a1e3;
	font-size: 5rem;
}

.navibar:hover{
	text-decoration: none;
	color: #2e6bad;
}

.search-bar{
	font-size: 3rem;
}

.search-btn{
	font-size: 3rem;
}

.footer-container{
	font-size: 3rem;
	background-color: #343a40;
	color: #64a1e3;
	padding: 2%;
	margin-top: 2%;
}

h4{
	font-size: 4rem;
	margin-bottom: 5%;
}