
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{
	font-size: 5px;
}

.navibar{
	color: #64a1e3;
	font-size: 5rem;
}

.navibar:hover{
	text-decoration: none;
	color: #2e6bad;
}

.search-bar{
	font-size: 3rem;
}

.search-btn{
	font-size: 3rem;
}