h2{
	text-align: center;
	font-size: 7rem;
}

.header{
	padding-top: 2%;
	padding-bottom: 2%;
}

.instructions-div{
	padding-top: 4%;
	padding-bottom: 4%;
}

.instructions{
	padding: 5% 3%;
	display: flex;
	justify-content: space-around;
}

.instruction{
	max-width: 20%;
	font-size: 4rem;
}

.right-arrow{
	max-width: 4%;
}

.latest-release{
	background-color: #a9a9a9;
	padding-top: 4%;
	padding-bottom: 4%;
}

.album-div{
	display: flex;
	justify-content: space-around;
	padding: 3%;
}

.album-cover-div{
	max-width: 20%;
}

.album-cover{
	width: 100%;
}

.lyrics-table{
	font-size: 4rem;
	width: 80%;
	margin: auto;
	margin-top: 3%;
}

.artist-cover{
	max-width: 15%;
}

.no-song{
	text-align: center;
	font-size: 3rem;
	margin-top: 5%;
	margin-bottom: 5%;
}

.no-song-header{
	font-size: 6rem;
	margin-bottom: 2%;
}

.no-song-img{
	margin-bottom: 1%;
}