.artist-banner{
	background-color: #a9a9a9;
	padding: 3%;
}

.artist-img{
}

.artist-info{
	display: inline-block;
}

.artist-name{
	display: block;
}

.song-title{
	display: block;
}

.lyrics-container{
	margin-top: 5%;
}

.all-lyrics{
	font-size: 3rem;
}

.verse-para{
	margin-bottom: 4%;
}

.verse-para:hover{
	background-color: #ececec;
}

.add-interpretation-form{
	width: 80%;
}

.add-interpretation-input{
	font-size: 3rem;
}

.add-interpretation-btn{
	font-size: 3rem;
}

.single-interpretation-div{
	font-size: 3rem;
	width: 80%;
	margin-top: 4%;
}

.single-interpretation-content{

}

.likes-img{
	width: 5%;
	display: inline;
}

.likes-img:hover{
	width: 7%;
}

.single-interpretation-likes{
	display: inline;
	margin-left: 2%;
}